<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>

<body>
    <p><b>Welcome to Weather App , let look at today's Weather</b></p>
    <form action="/" method="POST">
        <label for="city">Enter Your's City Name</label>
        <input type="text" id="city" name="city">
        <button type="submit">Fetch</button>
    </form>
</body>

</html>


<!-- {% if getweather %}
<p>Temperature : {{ getweather.temperature }}°C</p>
<p>Humidity : {{ getweather.humidity }}%</p>
<p>Pressure : {{ getweather.pressure }}hpa</p>
<p>Description : {{ getweather.description }}</p>
<p>Feel like Temperature: {{getweather.feels_like}}°C</p>
<p>Wind Speed: {{getweather.windspeed}}m/s</p>
{% endif %} -->

{% if getweather.error %}
{{getweather.error}}
{% else %}
<p><h3>Your Current city is {{city}}, {{getweather.country}}</h3></p>
<p>Temperature : {{ getweather.temperature }}°C</p>
<p>Humidity : {{ getweather.humidity }}%</p>
<p>Pressure : {{ getweather.pressure }}hpa</p>
<p>Description : {{ getweather.description }}</p>
<img src="{{getweather.icon}}" alt="description image">
<p>Feel like Temperature: {{getweather.feels_like}}°C</p>
<p>Wind Speed: {{getweather.windspeed}}m/s</p>
{% endif %}